{% extends 'base.html' %}
{% block content %}
<h1>Items</h1>
{% for item in items %}
    <div class="item-card">
    {%if item.image%}
        <img src="{{item.image.url}}" alt="{{ item.name }}" class="item-photo" height="150">
        {%endif%}
        <div class="item-details">
            <h2>{{ item.name }}</h2>
            <p>Price: ${{ item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Brand: {{ item.brand }}</p>
            <a href="#" class="purchase-button">Purchase Now</a>
        </div>
    </div>
    {% endfor %}

    <h1>Accessories</h1>
{% for accessories in accessories %}
    <div class="item-card">
        {%if accessories.image %}
        <img src="{{accessories.image.url}}" alt="{{ accessories.name }}" class="item-photo" height="150">
        {%endif%}
        <div class="item-details">
            <h2>{{ accessories.name }}</h2>
            <p>Price: ${{ accessories.price }}</p>
            <p>Quantity: {{ accessories.quantity }}</p>
            <p>Brand: {{ accessories.brand }}</p>
            <a href="#" class="purchase-button">Purchase Now</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
